/*.app {
  display: flex;
  height: 100vh;

}
  .sidebar{
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
  } */

  .content-wrapper {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 17rem; /* Default margin when menu is open */
    
  }
 
  .content-wrapper.active {
    margin-left: 60px; /* Margin when menu is closed */
  }