// colors
$mediumGrey: #434343;
$yellow: #ffc342;
$veryLightGreen: #f4f9f4;
$Black: #262626;
$white: #ffffff;
$lightGrey: #f9f9f9;

// font family
$fontFamily: "Inter", serif;
$lightFont: 600;
$heavyFont: 700;

// fonts
$logoFont: calc(1.25 * 31.42px);
