.courses-container {
    height: 100vh;
    overflow-y: auto;
    background-color: #F1F1F1;
  }
  
  .main-content {
    margin-left: 250px; /* Adjust this value to match the width of the sidebar */
    transition: margin-left 0.3s;
    background-color:#F1F1F1;
    display:block;
  }
  
  .sidebar.active + .courses-container .main-content {
    margin-left: 6%; /* Adjust this value to match the width of the active sidebar */
  }

  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
    text-align:left;
    margin-top:3rem;
  }
  .header{
    display:flex;
    flex-direction:row;
    // padding:40px;
    padding-left:2rem;
    padding-right:2rem;
    padding-top: 2rem;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 1.5rem;
    background-color: #F1F1F1;
  }
  .final-grade{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-right: 2em;
    border-radius: 200px;
    width:6rem;
    height:2.5rem;
  }
  .task-bar{
    display:flex;
    background-color: #F1F1F1;
    width:100%;
    align-items: center;
    justify-content:flex-start;
    border-top: 2px solid black;
    box-shadow: 0 6px 4px 0 rgba(0,0,0,0.2);
    height:2.5rem;
  }
  th, td {
    // border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  .task-list{
    list-style-type: none;
    padding:0;
    display:block;
    width:100%;
    margin-left:1.5rem;
  }
  .task-list li{
    float:left;
    padding-right:15px;
  }
  .grade-table {
   margin-top:20px;
  }
  .grade-table tr{
    border-bottom: 1px solid black;
    text-align: center;
  }
  .grade-table table {
     width: 100%; 
     margin: auto;
     border-collapse:collapse;
   }
   .grade-table th, td{
    text-align:center;
   }